<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          Paper
        </h2>
      </div>
      <div class="panel-body text-center">
        <i class="fa move-icon fa-hand-paper-o"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          <%= @computer_move.capitalize %>
        </h2>
      </div>
      <div class="panel-body text-center">
        <i class="fa move-icon fa-hand-paper-o"></i>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <h1><%= @outcome %></h1>
</div>
