<div class="row">
  <div class="col-md-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          Rock
        </h2>
      </div>
      <div class="panel-body text-center">
        <i class="fa hand fa-hand-rock-o"></i>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title text-center">
          <%= @computer_move.capitalize %>
        </h2>
      </div>
      <div class="panel-body text-center">
        <i class="fa hand <%=@hand%>"></i>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <h1><%= @outcome %></h1>
</div>
